<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="card" style="width: 30rem">
      <div class="card-body" style="background-color: #f0eec1">
        <div class="project-info-box">
          <p><b>Title:</b> {{ note.title }}</p>
          <p><b>Description:</b> {{ note.description }}</p>
          <p><b>Date:</b> {{ note.date | date: "fullDate" }}</p>
          <p><b>Type:</b> {{ note.type | titlecase }}</p>
          <p><b>Priority:</b> {{ note.priority | titlecase }}</p>
          <div class="text-center">
            <button
              class="btn btn-warning shadow-none m-1"
              (click)="onEditNote()"
            >
              Edit note
            </button>
            <button
              class="btn btn-danger shadow-none m-1"
              (click)="onDeleteNote()"
            >
              Delete note
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
